@layer theme, base, components, react-barcode-scanner, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant light (@media (prefers-color-scheme: light));

@theme {
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-canvas: #242424;
  --color-ink: rgb(255 255 255 / 87%);
  --color-accent: #646cff;
  --color-button: #1a1a1a;
  --color-button-light: #f9f9f9;
  --color-ink-light: #213547;
}

:root {
  --rbs-viewfinder-overlay: color-mix(in oklab, var(--color-indigo-800) 30%, transparent);
  --rbs-camera-loading-icon-color: #a3e635;
}
