@layer react-barcode-scanner {
  .rbs\:camera-off {
    border-width: var(--rbs-camera-off-border-width, 8px);
    border-style: solid;
    border-color: var(--rbs-camera-off-border-color, #eee);
    border-radius: var(--rbs-camera-off-border-radius, var(--rbs-border-radius, 5px));
    display: flex;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .rbs\:camera-off-icon {
    width: var(--rbs-camera-off-icon-size, 65%);
    height: var(--rbs-camera-off-icon-size, 65%);
    display: block;
    opacity: var(--rbs-camera-off-icon-opacity, 0.2);
    color: var(--rbs-camera-off-icon-color, currentColor);
    margin: 0 auto;
  }
}
