@layer react-barcode-scanner {
  .rbs\:flashlight-toggle-button {
    position: absolute;
    bottom: 7px;
    right: 7px;
    z-index: 2;
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: var(--rbs-flashlight-icon, #000);
    background-color: var(--rbs-flashlight-background, #fff);
  }

  .rbs\:flashlight-toggle-button.rbs\:flashlight-on {
    color: var(--rbs-flashlight-background, #fff);
    background-color: var(--rbs-flashlight-icon, #000);
    box-shadow: 0 0 8px 2px var(--rbs-flashlight-background, #fff);
  }
}
