@layer react-barcode-scanner {
  .rbs\:container {
    aspect-ratio: var(--rbs-aspect-ratio, 1);
    width: var(--rbs-width, 100%);
    overflow: hidden;
    position: relative;
    border-radius: var(--rbs-border-radius, 0);
  }

  .rbs\:video-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  .rbs\:video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: var(--rbs-video-object-fit, cover);
  }
}
