@layer react-barcode-scanner {
  .rbs\:container {
    aspect-ratio: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .rbs\:video-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  .rbs\:video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
